@import url(https://db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue+Regular);
@import url(https://db.onlinewebfonts.com/c/b812035768ba3b9e92b0a01c747eecbd?family=Helvetica+Neue+Bold+Extended);
@import url(https://db.onlinewebfonts.com/c/afc4b3581208ce9c13c5799b99e9d918?family=Helvetica+Neue+LT+W02+93+BlkEx);
@import url(https://db.onlinewebfonts.com/c/deddaa43f8337a0663d06ffa356d8d4a?family=Helvetica+Neue+LT+W01+83+Hv+Ex);


@import url(https://db.onlinewebfonts.com/c/808d2427840352d64fbff2bc8dc40b2b?family=Object+Sans+Regular);
@import url(https://db.onlinewebfonts.com/c/2c92bbf252044dd4594cb48e25430c22?family=Object+Sans+Bold);
@import url(https://db.onlinewebfonts.com/c/2a1cc239b55dc1e27d998d3c2b77f8da?family=Object+Sans);


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://db.onlinewebfonts.com/c/805ac7139ad8a6c0f4a1c62397c15ede?family=Post+Grotesk);
@import url(https://db.onlinewebfonts.com/c/e9376501e69339f019d03488b68510a1?family=LilGrotesk);
@import url(https://db.onlinewebfonts.com/c/aa6084f30c284e6052b3998e7c83f32b?family=Neo+Helvetica);

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url(https://db.onlinewebfonts.com/c/6ceeb648a14d9da2997e04d6021ad0f5?family=BodoniICG);
@import url(https://db.onlinewebfonts.com/c/1ee3df488c48f3e9f92a3e961449c621?family=Palatino);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/98944f96ac3faf2ad29a08fdde0deeab?family=Geist);
@import url(https://db.onlinewebfonts.com/c/0d7c90bf2d5c8dcc4fa27a5ba6cbad81?family=Mango+Grotesque);
@import url(https://db.onlinewebfonts.com/c/4face4d30a70ee707f963ce1d67e6954?family=Mango+Grotesque+Thin);
@import url(https://db.onlinewebfonts.com/c/3c579b266e70da54b57525f41c5a8d79?family=Mango+Grotesque+Light);



html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Inter", "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container{
	@apply max-w-[1900px] mx-auto
}
  

.no-scrollbar::-webkit-scrollbar {
	display: none;
  }
  .no-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;     /* Firefox */
  }
  

.layout-cont{
	font-family: "Inter", sans-serif;
}

.main-tool-bar {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	transition: ease 0.4s;
	&--scrolled {
	  height: 40px;
	  width: 100%;
	}
  }

.nav-container{
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	/* font-family: "Object Sans"; */
	font-family: "Poppins", sans-serif;
}

.search-input{
	width: 35%;
	height: 100%;
	padding-left: 10px;
	border: none;
	outline: none;
	background-color: black;
}

input:focus {
	outline: none;
	box-shadow: none;
}

.search-option-content{
	width: 40%;
	height: 100%;
	background-color: transparent;
	/* color: rgb(128, 128, 128); */
}

.data-\[placeholder\]\:text-muted-foreground[data-placeholder] {
    color: white;
	font-size: 16px;
}

@media screen and (min-width: 1024px) {
	.data-\[placeholder\]\:text-muted-foreground[data-placeholder] {
		font-size: 12px;
	}
}

@media screen and (min-width: 1536px) {
	.data-\[placeholder\]\:text-muted-foreground[data-placeholder] {
		font-size: 16px;
	}
}


.search-option .border{
	border-width: 0px;
}

.search-option .rounded-md{
	border-radius: 0px;
}

.search-option .border:focus{
	outline: none;
	box-shadow: none;
}

.search-btn{
	background-color: #353535;
	padding: 6px 20px;
	border-radius: 30px;
	font-size: 16px;
}

.signup-btn{
	font-family: "Geist";
}

.login{
	font-family: "Geist";
}

.signup-icon-cont{
	width: 15px;
	height: 15px;
	margin-left: 8px;
}

.signUp-icon{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.logIn-signUp-cont{
	display: flex;
	align-items: center;
	justify-content: center;
}

.statement{
	font-family: "Object Sans";
  	font-weight: 400;
	font-size: 14px;
	color: rgb(128, 128, 128);
}

.hero-summary{
	/* font-family: "Poppins", sans-serif; */
	/* font-family: "Post Grotesk"; */
	/* font-family: "Neo Helvetica"; */
	/* font-family: "Object Sans"; */
	font-family: "Bebas Neue", sans-serif;
	transform: scaleY(1.2);
}

.hero-summary span{
	font-family: "BodoniICG";
	font-style: italic;
}

.diveInto{
	font-family: "Helvetica Neue LT W01 83 Hv Ex";
}

.partyHard{
	font-family: "Helvetica Neue LT W01 83 Hv Ex";
}

.num{
	font-family: "Neo Helvetica";
	font-size: 18px;
}

.night{
	font-family: "Mango Grotesque";
	/* font-family: "Mango Grotesque Thin";
	font-family: "Mango Grotesque Light"; */
	/* font-family: "Special Gothic Expanded One", sans-serif;
	transform: scalex(1.1); 
	transform: scaleY(1.3); */
}

.vertical-write, .exclusive, .landing-desc{
	font-family: "Object Sans";
}

.landing-no{
	font-family: "BodoniICG";
}

.night-cont .nightSub .big{
	font-family: "Mango Grotesque";
	font-size: 5rem;
	text-transform: uppercase;
}

.night-cont .nightSub .small{
	font-family: "Mango Grotesque";
	font-size: 1.5rem;
	font-weight: 500;
}

.life{
	font-size: 10rem;
	line-height: 7rem;
	font-family: "BodoniICG";
	color: rgb(128, 128, 128);
}


.updates{
	font-family: "Helvetica Neue LT W01 83 Hv Ex";
	/* transform: scaleY(1.5);  */
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}

.allInOne{
	font-family: "Bebas Neue", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	transform: scaleY(1.2); 
}

.catGroup{
	font-family: "Poppins", sans-serif;
}

.card1, .card2, .card3, .card4{
	font-family: "Inter", sans-serif;
}

.card5{
	font-family: "Poppins", sans-serif;
}


/* Card 1 */
.card1{
	border: 5px solid #242424;
}

.topdetails{
	font-family: "Helvetica Neue Regular";
}


/* Card 2 */

.card-info .details2 .cat{
	font-weight: 700;
	font-size: 15px;
	line-height: 12px;
}

.card-info .details2 .type{
	font-weight: 600;
}

.cardNum{
	/* font-family: "Bebas Neue", sans-serif; */
	font-family: "Special Gothic Expanded One", sans-serif;
}


.eventHeading{
	font-family: "Object Sans";
}

.card3 .p-6{
	padding: 0px;
}

.swiper-slide:nth-child(4n) {
	width: 60%;
  }
  
.swiper-slide:nth-child(5n) {
	width: 40%;
}

.line{
	border-color: linear-gradient(271.95deg, #7B0093 -30.8%, #F3DAFF 92.81%);
	border-top-width: 5px;
}

.createBrand{
	font-family: "Poppins", sans-serif;
}

footer{
	font-family: "Inter", sans-serif;
}



@media (min-width: 640px) {
	.circular-text {
		width: 250px;
		height: 250px;
	}
	  
	.circular-text span {
		font-size: 24px;
	}
}


/* Sign Up Form */

.sign-up-cont{
	font-family: "Inter", sans-serif;
}

.dob .dark\:bg-input\/30:is(.dark *) {
	background-color: #FFFFFF;
	color: #212121;
}


.event-cat .SelectItem, .event-cat .SelectLabel{
	font-size: 1.5rem;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(1); 
	opacity: 1;
}
