@import url(https://db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue+Regular);
@import url(https://db.onlinewebfonts.com/c/b812035768ba3b9e92b0a01c747eecbd?family=Helvetica+Neue+Bold+Extended);
@import url(https://db.onlinewebfonts.com/c/afc4b3581208ce9c13c5799b99e9d918?family=Helvetica+Neue+LT+W02+93+BlkEx);
@import url(https://db.onlinewebfonts.com/c/deddaa43f8337a0663d06ffa356d8d4a?family=Helvetica+Neue+LT+W01+83+Hv+Ex);


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.main-tool-bar {
	height: 70px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
  
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	transition: ease 0.4s;
	&--scrolled {
	  height: 40px;
	}
  }

.nav-container{
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	font-family: "Helvetica Neue Regular";
}

.search-wrapper {
	padding: 2px;
	background: linear-gradient(271.95deg, #7B0093 -30.8%, #F3DAFF 92.81%);
	border-radius: 30px;
	width: 45vw;
}

.search-container{
	border: 2px solid transparent;
	border-image-slice: 1;
	background-color: black;
	padding: 4px;
	border-radius: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.search-input{
	width: 100%;
	height: 100%;
	font-size: 16px;
	padding-left: 10px;
	border: none;
	outline: none;
	background-color: black;
}

input:focus {
	outline: none;
	box-shadow: none;
}

.search-btn{
	background-color: #353535;
	padding: 6px 20px;
	border-radius: 30px;
	font-size: 12px;
}

.signup-btn{
	background-color: #fff;
	color: #212121;
	margin-left: 20px;
	padding: 9px 15px;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}

.login{
	font-weight: 500;
}

.search-icon-cont{
	width: 17px;
	height: 17px;
	margin-right: 10px;
}

.search-icon{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.brand-logo-cont{
	height: 30px;
	width: 80px;
}

.brand-logo{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.signup-icon-cont{
	width: 15px;
	height: 15px;
	margin-left: 8px;
}

.signUp-icon{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.logIn-signUp-cont{
	display: flex;
	align-items: center;
	justify-content: center;
}


.body{
	/* font-family: "Helvetica Neue Bold Extended"; */
	/* font-family: "Helvetica Neue LT W02 93 BlkEx"; */
	font-family: "Helvetica Neue LT W01 83 Hv Ex";
	font-size: 19vw;
	/* line-height: 15vw; */
	padding-top: 5vw;
}

.night{
	font-family: "Helvetica Neue LT W01 83 Hv Ex";
	font-size: 13vw;
}