@import url(https://db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue+Regular);
@import url(https://db.onlinewebfonts.com/c/b812035768ba3b9e92b0a01c747eecbd?family=Helvetica+Neue+Bold+Extended);
@import url(https://db.onlinewebfonts.com/c/afc4b3581208ce9c13c5799b99e9d918?family=Helvetica+Neue+LT+W02+93+BlkEx);
@import url(https://db.onlinewebfonts.com/c/deddaa43f8337a0663d06ffa356d8d4a?family=Helvetica+Neue+LT+W01+83+Hv+Ex);


@import url(https://db.onlinewebfonts.com/c/808d2427840352d64fbff2bc8dc40b2b?family=Object+Sans+Regular);
@import url(https://db.onlinewebfonts.com/c/2c92bbf252044dd4594cb48e25430c22?family=Object+Sans+Bold);
@import url(https://db.onlinewebfonts.com/c/2a1cc239b55dc1e27d998d3c2b77f8da?family=Object+Sans);


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://db.onlinewebfonts.com/c/805ac7139ad8a6c0f4a1c62397c15ede?family=Post+Grotesk);
@import url(https://db.onlinewebfonts.com/c/aa6084f30c284e6052b3998e7c83f32b?family=Neo+Helvetica);

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.main-tool-bar {
	height: 70px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
  
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	transition: ease 0.4s;
	&--scrolled {
	  height: 40px;
	}
  }

.nav-container{
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	/* font-family: "Object Sans"; */
	font-family: "Poppins", sans-serif;
}

.search-wrapper {
	padding: 2px;
	background: linear-gradient(271.95deg, #7B0093 -30.8%, #F3DAFF 92.81%);
	border-radius: 30px;
	width: 45vw;
}

.search-container{
	border: 2px solid transparent;
	border-image-slice: 1;
	background-color: black;
	padding: 3px;
	border-radius: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.search-input{
	width: 100%;
	height: 100%;
	font-size: 14px;
	padding-left: 10px;
	border: none;
	outline: none;
	background-color: black;
}

input:focus {
	outline: none;
	box-shadow: none;
}

.search-btn{
	background-color: #353535;
	padding: 6px 20px;
	border-radius: 30px;
	font-size: 12px;
}

.signup-btn{
	background-color: #fff;
	color: #212121;
	margin-left: 20px;
	padding: 9px 15px;
	font-size: 12px;
	font-weight: 600;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}

.login{
	font-weight: 600;
	font-size: 15px;
}

.search-icon-cont{
	width: 17px;
	height: 17px;
	margin-right: 10px;
}

.search-icon{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.brand-logo-cont{
	height: 30px;
	width: 80px;
}

.brand-logo{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.signup-icon-cont{
	width: 15px;
	height: 15px;
	margin-left: 8px;
}

.signUp-icon{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.logIn-signUp-cont{
	display: flex;
	align-items: center;
	justify-content: center;
}

.statement{
	font-family: "Object Sans";
  	font-weight: 400;
	font-size: 16px;
	color: rgb(128, 128, 128);
}

.hero-summary{
	/* font-family: "Poppins", sans-serif; */
	/* font-family: "Post Grotesk"; */
	/* font-family: "Neo Helvetica"; */
	font-family: "Object Sans";
  	font-weight: 500;
	font-size: 40px;
	line-height: 45px;
}

.num{
	font-family: "Neo Helvetica";
	font-size: 18px;
}

.night{
	font-family: "Helvetica Neue LT W01 83 Hv Ex";
	font-size: 20vw;
	line-height: 20vw;
}

.life{
	background-color: white;
	font-size: 3rem;
	line-height: 3rem;
	font-family: "Helvetica Neue LT W02 93 BlkEx";
	/* font-family: "Helvetica Neue LT W01 83 Hv Ex"; */
}

